name: Release

permissions:
  contents: write

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: moonrepo/setup-rust@v1
        with:
          cache: false
          targets: wasm32-wasi
      - uses: moonrepo/build-proto-plugin@v0
      - uses: ncipollo/release-action@v1
        with:
          artifacts: builds/*
          artifactErrorsFailBuild: true
          name: ${{ github.ref_name }}
          prerelease: >
            ${{ github.event_name != 'push'
            || github.ref_type != 'tag'
            || contains(github.ref_name, '-alpha')
            || contains(github.ref_name, '-beta')
            || contains(github.ref_name, '-rc')
            }}
          allowUpdates: true
          updateOnlyUnreleased: true
